<main class="container-fluid">
    <div class=row>
        <div class="col col-md-12">
            <br />
            <h1>Web App Developers - Fall 2019</h1>
            <br />
            <hr>
            <h3>During development, test api here.</h3>
            <br />
            <br />
            <br />
            <h4>Developer: Test GET JSON by URL</h4>
            <ol>
                <li> <a href="https://express-mvc-group.herokuapp.com/developer/findall">https://express-mvc-group.herokuapp.com/developer/findall</a>
                </li>
                <li> <a href="https://express-mvc-group.herokuapp.com/developer/findone/99">https://express-mvc-group.herokuapp.com/developer/findone/99</a>
                </li>
                <li> <a
                        href="https://express-mvc-group.herokuapp.com/developer/findone/100">https://express-mvc-group.herokuapp.com/developer/findone/100</a>
                </li>
                <li> <a href="https://express-mvc-group.herokuapp.com/developer/findone/92">https://express-mvc-group.herokuapp.com/developer/findone/92</a>
                </li>
                <li> <a href="https://express-mvc-group.herokuapp.com/developer/findone/93">https://express-mvc-group.herokuapp.com/developer/findone/93</a>
                </li>
                <li> <a href="https://express-mvc-group.herokuapp.com/newpage">https://express-mvc-group.herokuapp.com/newpage</a>
                </li>
            </ol>

            <br>

            <h4>Developer: TEST Requests to GET a view</h4>

            <ol>
                <li> <a href="https://express-mvc-group.herokuapp.com/developer">https://express-mvc-group.herokuapp.com/developer</a>
                </li>
                <li> <a href="https://express-mvc-group.herokuapp.com/developer/create">https://express-mvc-group.herokuapp.com/developer/create</a>
                </li>
                <li> <a href="https://express-mvc-group.herokuapp.com/developer/edit/99">https://express-mvc-group.herokuapp.com/developer/edit/99</a>
                </li>
                <li> <a href="https://express-mvc-group.herokuapp.com/developer/delete/99">https://express-mvc-group.herokuapp.com/developer/delete/99</a>
                </li>
                <li> <a
                        href="https://express-mvc-group.herokuapp.com/developer/details/100">https://express-mvc-group.herokuapp.com/developer/details/100</a>
                </li>
            </ol>
        </div>
    </div>
</main>
<hr>

</div>
</div>
</div>